cltk==0.1.44
coverage==4.2
fuzzywuzzy==0.13.0
gitdb2==2.0.0
GitPython==2.1.0
nltk==3.2.1
nose==1.3.7
python-Levenshtein==0.12.0
pyuca==1.1.2
PyYAML==3.12
regex==2016.10.22
smmap2==2.0.1
Whoosh==2.7.4
